name: Deploy MkDocs

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'  # Match all branches for pull requests
  release:
      types:
        - published

permissions:
  contents: write     # Required to push to gh-pages
  pages: write        # Required for GitHub Pages deployments
  id-token: write     # Required for OIDC authentication

jobs:
  deploy-pr:
      if: github.event_name == 'pull_request'
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install poetry
        run: |
          pip install poetry

      - name: Configure Poetry
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          poetry install --with main,docs

      - name: Deploy to GitHub Pages (Pull Request)
        env:
          ACTIONS_DEPLOY_TOKEN: ${{ secrets.ACTIONS_DEPLOY_TOKEN }}
        run: |
          git config --global user.name '${{ github.actor }}'
          git config --global user.email '${{ github.actor }}@users.noreply.github.com'

          poetry run mike deploy --push --update-aliases develop latest
          poetry run mike set-default --push latest
